@import url('https://fonts.googleapis.com/css?family=Roboto');
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
}
.form__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-transition: all 1.5s ease 0.2s;
  transition: all 1.5s ease 0.2s;
}
body.document-loaded .form__content {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.lyear-wrapper {
    position: relative;
}
.lyear-login {
    min-height: 100vh;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
}
@media screen and (max-width: 524px){
	.lyear-login {
	    padding: 3.5em;
	}
}
.login-center {
    height: auto;
    background: rgba(255,255,255,0.92);
    border-radius: 5px;
    margin: 2.85714em 0;
    min-width: 38.25rem;
    padding: 2.14286em 3.57143em;
}
.login-header {
    margin-bottom: 1.5rem !important;
}
.login-center .has-feedback.feedback-left .form-control {
    padding-left: 38px;
    padding-right: 12px;
}
.login-center .has-feedback.feedback-left .form-control-feedback {
    left: 0;
    right: auto;
    width: 38px;
    height: 38px;
    line-height: 38px;
    z-index: 4;
    color: #dcdcdc;
}
.login-center .has-feedback.feedback-left.row .form-control-feedback {
    left: 15px;
}